Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2022-09, with the labels that each got.

#311 CIV-4769: Helm Deploy name changed
  Jenkinsfile_CNP
  bin/variables/load-aat-environment-variables.sh
  bin/variables/load-preview-environment-variables.sh
  bin/variables/load-staging-environment-variables.sh
  charts/civil-ga-ccd/.helmignore
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-311

#312 CIV-4769: Fixes for master Pipeline
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-312

#294 Civ 3759 uncloaking request more information
  charts/civil-ga-ccd/values.preview.template.yaml
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_uncloak_application_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-294, rel:civil-ga-ccd-pr-294

#317 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-317

#284 Civ 3403 Payment Failure ccd changes
  charts/civil-ga-ccd/values.preview.template.yaml
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/CaseEvents.json
  ga-ccd-definition/State.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-284, rel:civil-ga-ccd-pr-284

#303 Automation: CIV-3774 - Judge lists without notice application for hearing
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-303, rel:civil-ga-ccd-pr-303

#326 updated postgres charts
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-326

#328 pipeline fix
  Jenkinsfile_CNP
  bin/add-roles.sh
  charts/civil-ga-ccd/Chart.yaml
  e2e/fixtures/events/createClaim.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-328

#299 CIV-4438: Updated Callback url for testing purpose
  Jenkinsfile_CNP
  bin/import-ccd-definition.sh
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.yaml
  e2e/api/apiRequest.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/applicationTab.page.js
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/CaseManagementCategoryElement.json
  ga-ccd-definition/ComplexTypes/GACaseManagementCategory.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-299, rel:civil-general-apps-ccd-pr-299, rel:civil-ga-ccd-pr-299

#332 CIV-4949 Refactor GA Respondent Appln Collection
  Jenkinsfile_CNP
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-332

#342 Civ 3914 access profile migration
  Jenkinsfile_CNP
  bin/add-roles.sh
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  config/owasp/suppressions.xml
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ga-ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  package.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-342
