Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2022-04, with the labels that each got.

#110 Feature/civ 1427
  e2e/pages/generalApplication/hearingDetails.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseConfirmation.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseHearingDetails.page.js
  e2e/steps_file.js
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/ApplicationResponseGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDetailsRespGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-110

#122 CIV-1746 : Judges journey e2e automation
  Jenkinsfile_CNP
  bin/variables/load-staging-environment-variables.sh
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
  config/owasp/suppressions.xml
  e2e/pages/generalApplication/applicationType.page.js
  e2e/pages/generalApplication/generalApplicationTypes.js
  e2e/pages/generalApplication/hearingDetails.page.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesCheckYourAnswers.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesConfirmation.page.js
  e2e/pages/generalApplication/judgesJourneyPages/listForHearing.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/requestMoreInformation.page.js
  e2e/pages/generalApplication/judgesJourneyPages/writtenRepresentations.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseConfirmation.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseHearingDetails.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseSummary.page.js
  e2e/steps_file.js
  e2e/tests/1v1GeneralApplication_test.js
  e2e/tests/api_test.js
  e2e/tests/crossBrowser_test.js
  e2e/tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/rpaHandoff_test.js
  e2e/tests/smoke_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/ApplicationResponseGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDetailsRespGAspec.json
  ga-ccd-definition/FixedLists/GAHearingTypeGAspec.json
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
  yarn.lock
Labels: ns:civil, prd:civil, Testing, rel:civil-general-apps-ccd-definition-pr-122

#123 Text Changes for Judges Screens
  ga-ccd-definition/ComplexTypes/GAJudgesHearingListGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialRequestMoreInfoGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-123

#109 Judges integration
  build.gradle
  config/owasp/suppressions.xml
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudgesHearingListGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialRequestMoreInfoGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialWrittenRepresentationsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-109

#126 Feature/civ 1800 1820
  Jenkinsfile_CNP
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDetailsRespGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudgesHearingListGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-126

#125 E2E Automation tests - Judges journey updates
  e2e/fixtures/events/createClaim.js
  e2e/pages/generalApplication/applicationDetails.page.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/writtenRepresentations.page.js
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-125

#128 Sprint5integration
  Jenkinsfile_CNP
  e2e/pages/generalApplication/applicationDetails.page.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/writtenRepresentations.page.js
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDetailsRespGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudgesHearingListGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-128

#129 Feature/civ 1808
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-129

#117 Create a model to save applicant solicitor details
  config/owasp/suppressions.xml
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GASolicitorDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-117

#127 CIV-1754
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-127

#136 Sprint5integration
  build.gradle
  config/owasp/suppressions.xml
  e2e/api/caseRoleAssignmentHelper.js
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/config.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/ga-ccd/events.js
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/tests/1v1GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GASolicitorDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-136

#133 CIV-1976 Text change
  e2e/pages/generalApplication/applicationType.page.js
  e2e/pages/generalApplication/generalApplicationTypes.js
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-133

#138 CIV-1865: Enabled Response and Judges journey
  e2e/api/testingSupport.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/applicantSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/requestMoreInformation.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseConfirmation.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseSummary.page.js
  e2e/steps_file.js
  e2e/tests/1v1GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/smoke_test.js
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-138

#139 Update load-demo-environment-variables.sh
  bin/variables/load-demo-environment-variables.sh
  bin/variables/load-staging-environment-variables.sh
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-139

#141 Update suppressions.xml
  charts/civil-general-apps-ccd-definition/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-141

#140 Feature/civ 1488
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/ChangeStateToAwaitingJudicialDecisionGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-140

#149 Sprint6integration
  e2e/pages/generalApplication/generalApplicationTypes.js
  e2e/pages/generalApplication/judgesJourneyPages/listForHearing.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/steps_file.js
  e2e/tests/1v1GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/ChangeStateToAwaitingJudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudgesHearingListGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
  ga-ccd-definition/FixedLists/GAJudgeOrderClaimantOrDefenseFixedList.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-149
