Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2022-11, with the labels that each got.

#380 Feature/civ 5327 testing
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-380

#394 CIV-5382 add run-script-os package with which functional,api and smok…
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-394

#395 Ga enhancement
  Jenkinsfile_CNP
  bin/add-roles.sh
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ga-ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDocuments.json
  ga-ccd-definition/ComplexTypes/GAHearingDateGAspec.json
  ga-ccd-definition/ComplexTypes/GAN245FormUpload.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ga-ccd-definition/FixedLists/GAHearingScheduleGAspec.json
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-395

#398 Civ 5242- publishing fields to Changes additional time expired event
  ga-ccd-definition/CaseEventToFields/ChangeStateToAdditionalResponseTime.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-398

#399 update on the keys
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  e2e/pages/caseView.page.js
  e2e/tests/ui_tests/smoke_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-399

#402 Updated permissions to case state additional response time expired to…
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-402

#385 Civ 5093- ga ccd changes for a new scheduler
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/CheckStayOrderEndDateSchedulerGASpec.json
  ga-ccd-definition/CaseEventToComplexTypes/CheckStayOrderEndDateSchedulerGASpec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-385

#409 Civ 5714- - Api test for Judge Revisit Order Made Scheduler
  config/owasp/suppressions.xml
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_order_made_decision_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-409

#387 Civ 4936 2
  e2e/api/steps.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor2.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/notifyClaimDetails_1v2DiffSol_partial.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/notifyClaim_1v2DiffSol_partial.js
  e2e/fixtures/events/claim/claimantResponseSpec.js
  e2e/fixtures/events/claim/claimantResponseSpec1v2.js
  e2e/fixtures/events/claim/claimantResponseSpec2v1.js
  e2e/fixtures/events/claim/createClaimSpec.js
  e2e/fixtures/events/claim/defaultJudgment1v2Spec.js
  e2e/fixtures/events/claim/defaultJudgment2v1Spec.js
  e2e/fixtures/events/claim/defaultJudgmentSpec.js
  e2e/fixtures/events/claim/defendantResponseSpec.js
  e2e/fixtures/events/claim/defendantResponseSpec1v2.js
  e2e/fixtures/events/claim/defendantResponseSpec2v1.js
  e2e/fixtures/events/claim/informAgreeExtensionDateSpec.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_claimant_response_offline_nightly_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_claimant_response_offline_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_defendant_response_offline_nightly_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_defendant_response_offline_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_move_case_to_caseman_offline_nightly_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_move_case_to_caseman_offline_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_claimant_response_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_claimant_response_offline_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_defendant_response_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_defendant_response_offline_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_details_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_details_offline_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_offline_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-387

#244 Civ 2221 enable high level data setup 2
  Jenkinsfile_CNP
  bin/build-release-ccd-definition.sh
  bin/variables/load-ithc-environment-variables.sh
  bin/variables/load-perftest-environment-variables.sh
  build.gradle
  charts/civil-ga-ccd/values.preview.template.yaml
  codecept.conf.js
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  e2e/pages/generalApplication/claimDocument.page.js
  ga-ccd-definition/AuthorisationCaseType/AuthorisationCaseTypeGAspec-nonprod.json
  ga-ccd-definition/AuthorisationCaseType/AuthorisationCaseTypeGAspec-prod.json
  package.json
  src/integrationTest/java/uk/gov/hmcts/reform/civil/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/reform/civil/config/SwaggerConfiguration.java
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-244, rel:civil-ga-ccd-pr-244

#431 Fix for nightly tests
  e2e/api/steps.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor2.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_claimant_response_offline_nightly_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_claimant_response_offline_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_defendant_response_offline_nightly_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_defendant_response_offline_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_move_case_to_caseman_offline_nightly_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_move_case_to_caseman_offline_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_claimant_response_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_claimant_response_offline_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_defendant_response_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_defendant_response_offline_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_details_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_details_offline_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_offline_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-431
