Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2022-06, with the labels that each got.

#191 Fix for e2e test failures
  charts/civil-general-apps-ccd-definition/Chart.yaml
  e2e/api/steps.js
  e2e/pages/generalAppCommons.js
  e2e/tests/api_tests/api_1v1_directions_order_test.js
  e2e/tests/api_tests/api_1v1_judge_decision_addln_info_test.js
  e2e/tests/api_tests/api_1v1_test.js
  e2e/tests/api_tests/api_1v1_written_rep_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-191

#194 Enabled multi party tests
  e2e/api/steps.js
  e2e/tests/api_tests/api_1v1_directions_order_test.js
  e2e/tests/api_tests/api_1v1_judge_decision_addln_info_test.js
  e2e/tests/api_tests/api_1v1_test.js
  e2e/tests/api_tests/api_1v1_written_rep_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-general-apps-ccd-definition-pr-194

#192 CIV-2682 Change app state to Response time expired
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/ChangeStateToAwaitingResponseTimeExpiredGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-192

#197 enabled case details when the application has been dismissed
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
  charts/civil-general-apps-ccd-definition/values.preview.template.yaml
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/crossBrowser_test.js
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  saucelabs.conf.js
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-197

#199 Feature/civ 782 list for a hearing decision by judge
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-199

#205 Judges Hearing Screen labels assertion added
  e2e/pages/generalApplication/judgesJourneyPages/listForHearing.page.js
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-205

#204 Removed variable respondentSolicitor1EmailAddress
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-204

#201 CIV-2463 Refactor use of string on general app notification deadline
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-201

#207 Feature/civ 2407
  e2e/api/testingSupport.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/requestMoreInformation.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialRequestMoreInfoGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-207

#209 Added new label
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudgesHearingListGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-209

#220 update test result folder structure
  .gitignore
  Jenkinsfile_CNP
  charts/civil-general-apps-ccd-definition/Chart.yaml
  codecept.conf.js
  config/owasp/suppressions.xml
  e2e/config.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-220
