Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2022-08, with the labels that each got.

#277 Update values.preview.template.yaml
  Jenkinsfile_CNP
  bin/variables/load-preview-environment-variables.sh
  build.gradle
  charts/civil-general-apps-ccd-definition/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-277

#265 Feature/civ 3388
  e2e/pages/caseView.page.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/ReferToJudgeGASpec.json
  ga-ccd-definition/CaseEventToComplexTypes/ReferToLegalAdvisorGASpec.json
  ga-ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ga-ccd-definition/CaseEventToFields/ReferToJudgeGASpec.json
  ga-ccd-definition/CaseEventToFields/ReferToLegalAdvisorGASpec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GACaseLocationGAspec.json
  ga-ccd-definition/ComplexTypes/GAReferToJudgeGAspec.json
  ga-ccd-definition/ComplexTypes/GAReferToLegalAdvisorGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-265

#270 CIV-3663 Add Recital text judge request more info
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/requestMoreInformation.page.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialRequestMoreInfoGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-270

#258 Civ 3408 ways to pays additional payment
  charts/civil-general-apps-ccd-definition/Chart.yaml
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
  charts/civil-general-apps-ccd-definition/values.preview.template.yaml
  charts/civil-general-apps-ccd-definition/values.yaml
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/pages/generalApplication/serviceRequest.page.js
  e2e/steps_file.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_uncloak_application_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/MakePBAPaymentGAspec.json
  ga-ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
  ga-ccd-definition/State.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-258

#278 CIV-3854 Fix Direction order tile to Directions order
  e2e/pages/generalApplication/claimDocument.page.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-278

#279 CIV-3664 Refactor Judge Makes Decision to Make Decision for reusability
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/events.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgeDecision.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesCheckYourAnswers.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesConfirmation.page.js
  e2e/pages/generalApplication/judgesJourneyPages/listForHearing.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/requestMoreInformation.page.js
  e2e/pages/generalApplication/judgesJourneyPages/writtenRepresentations.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-279

#282 Civ 3760 uncloaking without notice make order
  e2e/api/steps.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_uncloak_application_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-282

#298 CIV-4462 Fix master
  bin/variables/load-staging-environment-variables.sh
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-298
