Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2022-02, with the labels that each got.

#44 CIV-727 recover Hearing details screen changes
  ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/ComplexTypes/1_UnavailableDatesGAspec.json
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-44

#49 CIV-727: Implemented Hearing Details test
  e2e/pages/generalApplication/hearingDetails.page.js
  e2e/steps_file.js
  e2e/tests/generalApplication_test.js
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-49

#53 Respond to Application
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ccd-definition/CaseEventToFields/ApplicationResponseGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GARespondentRepresentativeGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-53

#68 Response Hearing details
  build.gradle
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ccd-definition/CaseEventToComplexTypes/ApplicationResponseGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAHearingDetailsRespGAspec.json
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
  config/owasp/suppressions.xml
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-68

#69 Feature/civ 949 2
  ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseTypeGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
  ccd-definition/CaseTypeTab/SummaryGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-69

#73 Application response
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ccd-definition/CaseEventToFields/ApplicationResponseGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-73

#77 Feature/civ-778_2 END_BUSINESS_PROCESS_GASPEC
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ccd-definition/State.json
  ccd-definition/UserProfile.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-77
