Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2022-10, with the labels that each got.

#348 Fix for trial dates and navigation issues
  e2e/api/steps.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/applicationTab.page.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/pages/generalApplication/gaPBANumber.page.js
  e2e/pages/generalApplication/hearingDetails.page.js
  e2e/pages/generalApplication/judgesJourneyPages/applicationDocument.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesConfirmation.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseConfirmation.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseHearingDetails.page.js
  e2e/pages/generalApplication/urgencyCheck.page.js
  e2e/pages/login.page.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-348

#352 Supressed vulnerability temporarly
  bin/add-roles.sh
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-352

#322 CIV-2801 Application Closed
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-322

#350 CIV-5085 add api test case for update ga status with visible to resp sol
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_uncloak_application_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-350

#355 Civ 5177 publishing ccmcc location field to refer to judge and refer to legal Advisor- WA
  Jenkinsfile_nightly
  ga-ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/EndJudgeBusinessProcessGASpec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/ReferToJudgeGASpec.json
  ga-ccd-definition/CaseEventToComplexTypes/ReferToLegalAdvisorGASpec.json
  ga-ccd-definition/CaseEventToFields/EndJudgeBusinessProcessGASpec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/ReferToJudgeGASpec.json
  ga-ccd-definition/CaseEventToFields/ReferToLegalAdvisorGASpec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-355

#365 Enabling Full functional tests in the nightly suite
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  package.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-365

#353 CIV-3287 Add New application types for LR
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-353

#319 Feature/civ 4539
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-319

#366 CIV-5243 Remove Caseworker civil admin
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-366

#371 Feature/5227
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ga-ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDateGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ga-ccd-definition/FixedLists/GAHearingScheduleGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-371

#368 updated exclusions command to remove SDO-HNL to just HNL
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-368

#360 CIV-5085 add api test case for update ga status with visible to resp sol
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_uncloak_application_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-360

#374 Civ 5331 Adding additional access profile for challenge and specific access
  bin/add-roles.sh
  e2e/pages/caseView.page.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/AuthorisationCaseType/AuthorisationCaseTypeGAspec.json
  ga-ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-374

#373 CIV-5112: Added stale configuration for PR
  .github/stale.yml
  .github/workflows/stale.yml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-373

#369 Civ 5120
  e2e/api/testingSupport.js
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseType/AuthorisationCaseTypeGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-369

#389 Enabling full functional tests in nightly build
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-389

#390 Revert "Enabling full functional tests in nightly build"
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-390

#392 CIV-5561 Hide service request tab for judge
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-392
