Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2022-05, with the labels that each got.

#148 CIV-1548 : API testing for GA
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/tests/api_test.js
  e2e/tests/api_tests/api_1v1_test.js
  e2e/tests/smoke_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/crossBrowser_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/rpaHandoff_test.js
  e2e/tests/ui_tests/smoke_test.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-general-apps-ccd-definition-pr-148

#144 Feature/civ 1747
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToFields/RespondJudgeWrittenRepresentation.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDocuments.json
  ga-ccd-definition/ComplexTypes/CaseDocument.json
  ga-ccd-definition/FixedLists/DocumentType.json
  ga-ccd-definition/State.json
  ga-ccd-definition/UserProfile.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-144

#150 Feature/civ 1748
  e2e/fixtures/ga-ccd/events.js
  e2e/fragments/event.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/judgesJourneyPages/applicationDocument.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/uploadScreen.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDocuments.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-150

#154 Sprint6integration
  e2e/fixtures/ga-ccd/events.js
  e2e/fragments/event.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/judgesJourneyPages/applicationDocument.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/uploadScreen.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToFields/RespondJudgeAdditionalInfo.json
  ga-ccd-definition/CaseEventToFields/RespondJudgeDirectionsOrder.json
  ga-ccd-definition/CaseEventToFields/RespondJudgeWrittenRepresentation.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDocuments.json
  ga-ccd-definition/ComplexTypes/CaseDocument.json
  ga-ccd-definition/FixedLists/DocumentType.json
  ga-ccd-definition/State.json
  ga-ccd-definition/UserProfile.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-154

#156 respondent validation
  e2e/pages/generalApplication/responseJourneyPages/responseConfirmation.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAResondentResponseGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-156

#168 added app instrumentation key logic to be picked up from vault
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
  charts/civil-general-apps-ccd-definition/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-168

#175 Feature/civ 2470
  e2e/pages/generalAppCommons.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-175

#167 CIV-934 Add Respondent Sol GA Details Collection
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-167

#169 Feature/civ 1585
  bin/import-bpmn-diagram.sh
  e2e/pages/generalApplication/judgesJourneyPages/applicationDocument.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesConfirmation.page.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDocuments.json
  ga-ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-169

#170 Judge make decision - Awaiting Addln Info
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/tests/api_tests/api_1v1_directions_order_test.js
  e2e/tests/api_tests/api_1v1_judge_decision_addln_info_test.js
  e2e/tests/api_tests/api_1v1_written_rep_test.js
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-170

#177 CIV-2275 Fix typo and add pdf types
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/FixedLists/GAJudgeOrderClaimantOrDefenseFixedList.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-177

#185 CIV-2618 - Wait for business process to finish e2e code refactor
  e2e/api/steps.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/pages/generalApplication/hearingDetails.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesConfirmation.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseConfirmation.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseHearingDetails.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseSummary.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-general-apps-ccd-definition-pr-185

#176 Display Judge decision in application's summary page
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-176

#188 switching on docmosis callback
  e2e/pages/generalApplication/judgesJourneyPages/applicationDocument.page.js
  ga-ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-188

#179 WIP: CIV-1585 pdf automation
  e2e/pages/generalApplication/judgesJourneyPages/applicationDocument.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-general-apps-ccd-definition-pr-179

#187 Suppress Vulnerability
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-187

#184 Feature/civ 549
  ga-ccd-definition/CaseEvent/Camunda/ChangeStateToAwaitingJudicialDecisionGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-184
