Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2022-07, with the labels that each got.

#222 supressions and lrspec inclusion
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-222

#241 Update suppressions.xml
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
  charts/civil-general-apps-ccd-definition/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-241

#237 CIV-780 Added new states (ORDER_MADE & PROCEEDS_IN_HERITAGE)
  charts/civil-general-apps-ccd-definition/Chart.yaml
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/State.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-237

#243 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-243

#218 Feature/civ 3206
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseRoles.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-218

#242 Sprint5integration
  charts/civil-general-apps-ccd-definition/Chart.yaml
  e2e/pages/generalApplication/hearingDetails.page.js
  e2e/pages/generalApplication/judgesJourneyPages/listForHearing.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseRoles.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ga-ccd-definition/State.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-242

#247 switching on tests and updated xui image
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
  charts/civil-general-apps-ccd-definition/values.preview.template.yaml
  e2e/pages/generalAppCommons.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ServiceRequestGAspec.json
  package.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-247

#250 CIV-3627 Add Publish field to publish data in WA Queue
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/ChangeStateToAwaitingJudicialDecisionGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/ChangeStateToAwaitingResponseTimeExpiredGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-250

#255 CIV-3374 Update preConditionState in Make decision event.
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-255

#261 Sprint6integration
  Jenkinsfile_CNP
  bin/import-ccd-definition.sh
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_list_for_hearing.js
  e2e/tests/api_unspec_claim_tests/api_1v2_additional_info.js
  e2e/tests/api_unspec_claim_tests/api_1v2_application_dissmised.js
  e2e/tests/api_unspec_claim_tests/api_1v2_awaiting_written_representation.js
  e2e/tests/api_unspec_claim_tests/api_1v2_directions_order.js
  e2e/tests/api_unspec_claim_tests/api_1v2_initiate_GA.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/ChangeStateToAwaitingJudicialDecisionGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/ChangeStateToAwaitingResponseTimeExpiredGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-261

#267 CIV-3402 and CIV-2631 Automation changes
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
  charts/civil-general-apps-ccd-definition/values.preview.template.yaml
  e2e/pages/generalApplication/claimDocument.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-267

#268 Update Chart.yaml
  charts/civil-general-apps-ccd-definition/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-268
