Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2022-03, with the labels that each got.

#78 application summary tab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ccd-definition/ComplexTypes/GARespondentAgreementGAspec.json
  ccd-definition/ComplexTypes/GATypeGAspec.json
  ccd-definition/ComplexTypes/GAUrgencyRecordGAspec.json
  ccd-definition/ComplexTypes/GAWithOrWithoutNoticeGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-78

#84 CIV-80 Judge screen - judicial decision
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseTypeGAspec.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/CaseRoles.json
  ccd-definition/ComplexTypes/GAJudicialDecisionGAspec.json
  ccd-definition/FixedLists/GAJudgeDecisionOptionGAspec.json
  ccd-definition/UserProfile.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-84

#80 CIV-1290 Refactor Existing code
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  test-results/dummyResult.xml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-80

#88 General apps integration
  .gitignore
  Jenkinsfile_CNP
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  test-results/dummyResult.xml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-88

#89 CIV-316 Handle responders on an application
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToFields/ApplicationResponseGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GAResondentResponseGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-89

#92 CIV-83 General Application : Judge's journey : Make an order
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ga-ccd-definition/FixedLists/GAJudgeMakeAnOrderOptionGAspec.json
  ga-ccd-definition/FixedLists/MakeAppAvailableCheckGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-92

#90 aat environment fixes
  Jenkinsfile_CNP
  bin/build-release-ccd-definition.sh
  bin/create-github-release.sh
  bin/variables/load-aat-environment-variables.sh
  bin/variables/load-demo-environment-variables.sh
  bin/variables/load-prod-environment-variables.sh
  bin/variables/load-staging-environment-variables.sh
  bin/wait-for.sh
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-90

#97 CIV-82 Judge's journey : Request more information screen
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialRequestMoreInfoGAspec.json
  ga-ccd-definition/FixedLists/GAJudgeRequestMoreInfoOptionGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-97

#93 Judges journey automation (CIV-83 and CIV-80)
  .gitignore
  Jenkinsfile_CNP
  bin/create-github-release.sh
  charts/civil-general-apps-ccd-definition/values.preview.template.yaml
  config/owasp/suppressions.xml
  e2e/fixtures/ccd/events.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/applicationTab.page.js
  e2e/pages/generalApplication/consentCheck.page.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/pages/generalApplication/gaPBANumber.page.js
  e2e/pages/generalApplication/hearingDetails.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgeDecision.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseConsentCheck.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseHearingDetails.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseSummary.page.js
  e2e/pages/generalApplication/urgencyCheck.page.js
  e2e/pages/generalApplication/withOutNotice.page.js
  e2e/steps_file.js
  e2e/tests/1v1GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-general-apps-ccd-definition-pr-93

#100 Feature/civ 555
  config/owasp/suppressions.xml
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialWrittenRepDrawGeneralOrderGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialWrittenRepresentationsGAspec.json
  ga-ccd-definition/FixedLists/GAJudgeWrittenRepresentationsOptionsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-100

#94 CIV-81 Judges Hearing Details Screen
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudgesHearingListGAspec.json
  ga-ccd-definition/FixedLists/GAJudicialHearingListOptionsGAspec.json
  ga-ccd-definition/FixedLists/GAJudicialHearingSupportRequirementGAspec.json
  ga-ccd-definition/FixedLists/GAJudicialHearingTimeEstimateGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-94

#105 CIV-1720 Fix hint text in hearing screen
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudgesHearingListGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-105

#98 Judges integration
  .gitignore
  Jenkinsfile_CNP
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
  charts/civil-general-apps-ccd-definition/values.preview.template.yaml
  config/owasp/suppressions.xml
  e2e/fixtures/ccd/events.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/applicationTab.page.js
  e2e/pages/generalApplication/consentCheck.page.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/pages/generalApplication/gaPBANumber.page.js
  e2e/pages/generalApplication/hearingDetails.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgeDecision.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseConsentCheck.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseHearingDetails.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseSummary.page.js
  e2e/pages/generalApplication/urgencyCheck.page.js
  e2e/pages/generalApplication/withOutNotice.page.js
  e2e/steps_file.js
  e2e/tests/1v1GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudgesHearingListGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialRequestMoreInfoGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialWrittenRepDrawGeneralOrderGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialWrittenRepresentationsGAspec.json
  ga-ccd-definition/FixedLists/GAJudgeRequestMoreInfoOptionGAspec.json
  ga-ccd-definition/FixedLists/GAJudgeWrittenRepresentationsOptionsGAspec.json
  ga-ccd-definition/FixedLists/GAJudicialHearingListOptionsGAspec.json
  ga-ccd-definition/FixedLists/GAJudicialHearingSupportRequirementGAspec.json
  ga-ccd-definition/FixedLists/GAJudicialHearingTimeEstimateGAspec.json
  package.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-98

#104 Feature/civ 1427
  e2e/pages/generalApplication/applicationType.page.js
  e2e/pages/generalApplication/generalApplicationTypes.js
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDetailsRespGAspec.json
  ga-ccd-definition/FixedLists/GAHearingTypeGAspec.json
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-104

#108 changes for aat environment fixes
  Jenkinsfile_CNP
  bin/variables/load-staging-environment-variables.sh
  charts/civil-general-apps-ccd-definition/values.aat.template.yaml
  charts/civil-general-apps-ccd-definition/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-general-apps-ccd-definition-pr-108
