Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2022-12, with the labels that each got.

#424 Civ 6116 Enhanced API tests by adding some tests related to collections
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/steps_file.js
  e2e/tests/api_unspec_claim_tests/api_1v2_general_app_collections_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/crossBrowser_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-424

#435 CIV-6346 Fix typo
  ga-ccd-definition/ComplexTypes/GAWithOrWithoutNoticeGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-435

#432 CIV-6040: GA WA Automation
  codecept.conf.js
  config/owasp/suppressions.xml
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/listForHearing.page.js
  e2e/steps_file.js
  e2e/steps_file_WA.js
  e2e/tests/api_unspec_claim_tests/api_1v2_defendant_response_offline_nightly_test.js
  e2e/tests/ui_tests/wa_tests/1v1_Unspec_GA_WA_scheduleHearing_test.js
  e2e/tests/ui_tests/wa_tests/1v2_Spec_GA_WA_reviewAppOrder_test.js
  package.json
  wa/tasks/judgeDecideOnApplicationAfterSDOTask.js
  wa/tasks/judgeDecideOnApplicationBeforeSDOTask.js
  wa/tasks/laDecideOnApplicationBeforeSDOTask.js
  wa/tasks/reviewApplicationOrderAfterSDOTask.js
  wa/tasks/reviewApplicationOrderBeforeSDOTask.js
  wa/tasks/reviewApplicationTask.js
  wa/tasks/scheduleAppHearingAfterSDOTask.js
  wa/tasks/scheduleAppHearingBeforeSDOTask.js
  yarn.lock
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-432

#440 UAT change testing
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  e2e/api/apiRequest.js
  e2e/api/idamHelper.js
  e2e/pages/caseView.page.js
  e2e/pages/generalAppCommons.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/ga_smoke_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/smoke_test.js
  e2e/tests/ui_tests/wa_tests/1v1_Unspec_GA_WA_scheduleHearing_test.js
  e2e/tests/ui_tests/wa_tests/1v2_Spec_GA_WA_reviewAppOrder_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-440

#443 CIV-6282 Judicial Decision doc preview
  e2e/pages/generalApplication/judgesJourneyPages/reviewOrderDocument.page.js
  e2e/steps_file.js
  e2e/tests/api_unspec_claim_tests/api_1v1_adjourn_vacate_ga_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/wa_tests/1v1_Unspec_GA_WA_scheduleHearing_test.js
  e2e/tests/ui_tests/wa_tests/1v2_Spec_GA_WA_reviewAppOrder_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-443

#448 Civ 6338 - Automation of GA-WA Revisit Scenarios
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/ga-ccd/events.js
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/fixtures/ga-ccd/nbcAdminTask.js
  e2e/steps_file_WA.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_order_made_decision_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_directions_order_test.js
  e2e/tests/api_wa_tests/1v1_unspec_ga_wa_specific_access_test.js
  e2e/tests/api_wa_tests/api_1v1_unspec_ga_wa_application_closed.js
  e2e/tests/api_wa_tests/api_1v1_unspec_ga_wa_challenged_access_test.js
  e2e/tests/api_wa_tests/api_ga_wa_judge_revisit_scenarios_test.js
  package.json
  wa/tasks/judgeRevisitApplicationAfterSDO.js
  wa/tasks/judgeRevisitApplicationBeforeSDO.js
  wa/tasks/legalAdvisorRevisitApplication.js
  wa/tasks/reviewRevisitedApplication.js
  wa/tasks/reviewRevisitedApplicationWrittenRep.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-448

#449 CIV-5971 Remove Docker file
  Dockerfile
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-449

#453 updated helm charts
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-453

#451 CIV-6314 testing
  e2e/pages/generalAppCommons.js
  e2e/pages/generalApplication/claimDocument.page.js
  e2e/pages/generalApplication/judgesJourneyPages/applicationDocument.page.js
  e2e/pages/generalApplication/judgesJourneyPages/reviewOrderDocument.page.js
  e2e/steps_file.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-451
