Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2023-01, with the labels that each got.

#457 CIV-6284 Update Order Templates
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  config/owasp/suppressions.xml
  e2e/api/steps.js
  e2e/pages/caseView.page.js
  e2e/pages/generalAppCommons.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/writtenRepresentations.page.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialWrittenRepresentationsGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ga-ccd-definition/FixedLists/GAByCourtsInitiativeGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-457

#462 CIV-6284 Fix api test
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-462

#464 continue button not found bug fix - specific-access-wa-ui-test
  Jenkinsfile_nightly
  config/owasp/suppressions.xml
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/steps_file_WA.js
  e2e/tests/api_wa_tests/1v1_unspec_ga_wa_specific_access_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/wa_tests/1v1_Unspec_GA_WA_scheduleHearing_test.js
  e2e/tests/ui_tests/wa_tests/1v2_Spec_GA_WA_reviewAppOrder_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-464

#468 CIV-6688 Add permission to hearing order heading
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/steps_file.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-468

#469 Fix for ui nightly tests
  Jenkinsfile_nightly
  e2e/pages/generalApplication/judgesJourneyPages/reviewOrderDocument.page.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-469

#456 Civ 3205
  Jenkinsfile_CNP
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  config/owasp/suppressions.xml
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-456

#471 CIV-6672 Change ElementLabel wording
  ga-ccd-definition/ComplexTypes/GAMakeAppVisibleToAll.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-471

#472 CIV-6669 Rename tab name
  e2e/pages/generalApplication/applicantSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseSummary.page.js
  e2e/steps_file_WA.js
  ga-ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-472

#475 CIV-6682 Refactor hearing screen appln and resp preference wording
  e2e/pages/generalApplication/judgesJourneyPages/listForHearing.page.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-475

#466 CIV-5973 Convert ga ccd to nodejs pipeline
  .eslintrc.js
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  config/owasp/suppressions.xml
  e2e/run-functional-tests.sh
  e2e/run-nightly-functional-tests.sh
  e2e/run-prod-functional-tests.sh
  e2e/run-prod-smoke-test.sh
  e2e/run-smoke-test.sh
  e2e/tests/unit/definitions/AuthorisationCaseEventGAspec.test.js
  e2e/tests/unit/definitions/AuthorisationCaseFieldGAspec.test.js
  e2e/tests/unit/definitions/AuthorisationCaseStateGAspec.test.js
  e2e/tests/unit/definitions/AuthorisationCaseTypeGAspec.test.js
  e2e/tests/unit/definitions/Banner.test.js
  e2e/tests/unit/definitions/CaseEvent.test.js
  e2e/tests/unit/definitions/CaseEventToComplexTypes.test.js
  e2e/tests/unit/definitions/CaseEventToFields.test.js
  e2e/tests/unit/definitions/CaseFieldGAspec.test.js
  e2e/tests/unit/definitions/CaseRoles.test.js
  e2e/tests/unit/definitions/CaseTypeTab.test.js
  e2e/tests/unit/definitions/ComplexTypes.test.js
  e2e/tests/unit/definitions/Jurisdiction.test.js
  e2e/tests/unit/definitions/RoleToAccessProfiles.test.js
  e2e/tests/unit/definitions/SearchInputFields.test.js
  e2e/tests/unit/definitions/SearchResultFields.test.js
  e2e/tests/unit/definitions/WorkBasketInputFields.test.js
  e2e/tests/unit/definitions/WorkBasketResultFields.test.js
  e2e/tests/unit/utils/assertBuilders.js
  e2e/tests/unit/utils/dataProvider.js
  e2e/tests/unit/utils/utils.js
  ga-ccd-definition/CaseEventToComplexTypes/ChangeStateToAdditionalResponseTime.json
  ga-ccd-definition/CaseEventToComplexTypes/ChangeStateToAwaitingJuducialDecisionGASpec.json
  ga-ccd-definition/CaseEventToComplexTypes/EndJudgeBusinessProcessGASpec.json
  ga-ccd-definition/CaseEventToComplexTypes/EndOfBusinessProcessGASpec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/ReferToJudgeGASpec.json
  ga-ccd-definition/CaseEventToComplexTypes/ReferToLegalAdvisorGASpec.json
  ga-ccd-definition/CaseEventToComplexTypes/RespondToApplicationGASpec.json
  ga-ccd-definition/CaseEventToComplexTypes/solicitorGAspec.json
  ga-ccd-definition/CaseEventToFields/CheckStayOrderEndDateSchedulerGASpec.json
  package.json
  settings.gradle
  sonar-project.properties
  src/main/java/uk/gov/hmcts/reform/civil/Application.java
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/RootController.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
  temp.sh
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-466

#473 Civ 6012 Ga ccd changes for the new camunda flow for HearingScheduled Process
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/AuthorisationCaseEvent/SystemUpdateGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-GAR3CP-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/ScheduleHearingEvents-GAR3CP.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseEventToFields/ScheduleHearingGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/FixedLists/ApplicationDetailsOptionGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/FixedLists/HearingChannel-GAR3CP-nonprod.json
  ga-ccd-definition/FixedLists/HearingLengthCasePro-GAR3CP-nonprod.json
  ga-ccd-definition/FixedLists/HearingTimeHourMinute-GAR3CP-nonprod.json
  ga-ccd-definition/State.json
  package.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-473

#488 Civ 6674 recital fields
  e2e/pages/generalAppCommons.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-488

#486 Jan Judge Uat
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  e2e/pages/generalAppCommons.js
  e2e/pages/generalApplication/applicantSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/listForHearing.page.js
  e2e/pages/generalApplication/judgesJourneyPages/reviewOrderDocument.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseSummary.page.js
  e2e/steps_file_WA.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GAMakeAppVisibleToAll.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-486

#505 Added specific-access-ctsc role
  ga-ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-505

#507 CIV-5707 - Remove unused Terraform
  infrastructure/.terraform-version
  infrastructure/README.md
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, no-changes, rel:civil-ga-ccd-pr-507

#493 Civ 6502
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/ga-ccd/events.js
  e2e/fixtures/ga-ccd/genAppHearing.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_list_for_hearing_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseEventToComplexTypes/ScheduleHearingGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseEventToFields/ScheduleHearingGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/ComplexTypes/GAHearingNotice-GAR3CP-nonprod.json
  ga-ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-493, add-or-update

#504 CIV-6683 Fix Typo
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-504

#508 CIV-6683: Automation task
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/pages/generalApplication/judgesJourneyPages/applicationDocument.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgeDecision.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesConfirmation.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseConfirmation.page.js
  e2e/run-functional-tests.sh
  e2e/steps_file.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  package.json
Labels: ns:civil, prd:civil, add-or-update, rel:civil-ga-ccd-pr-508

#518 CIV-6813 Fix local judge credentials
  e2e/pages/generalAppCommons.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-518

#514 CIV-6013 New Event to Notify defendants added
  ga-ccd-definition/AuthorisationCaseEvent/SystemUpdateGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/ScheduleHearingEvents-GAR3CP.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-514
