Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2023-05, with the labels that each got.

#692 CIV-8117 Settle or Discontinue by consent
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-692

#686 CIV-7105 idam ga s2s pod configuration changes
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-686

#698 CIV-0000 adding new tasks for yarn and adding puppeteer core to fix version
  package.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-698

#693 CIV-8161 add wa charts
  Jenkinsfile_CNP
  bin/import-dmn-diagram.sh
  bin/import-wa-bpmn-diagram.sh
  bin/pull-latest-camunda-wa-files.sh
  bin/pull-latest-dmn-files.sh
  bin/variables/load-preview-environment-variables.sh
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.enableWA.preview.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
  charts/civil-ga-ccd/values.yaml
  e2e/tests/ui_tests/wa_tests/1v1_Unspec_GA_WA_scheduleHearing_test.js
  e2e/tests/ui_tests/wa_tests/1v2_Spec_GA_WA_reviewAppOrder_test.js
  ga-ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-693

#694 CIV-7431 UI Automation
  e2e/pages/generalApplication/caseFile.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_ApplicationOrders_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-694

#705 CIV-0000 signin approach changes
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1_CP_ApplicationOrders_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-705

#700 CIV-3772 consent order
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/fixtures/ga-ccd/respondentResponse.js
  e2e/tests/api_unspec_claim_tests/api_1v2_defendant_response_consent_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/CaseEventToFields/ApplicationResponseGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-700

#697 CIV-7885 Consent Orders to be reviewed by Caseworker (Work allocation)
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/nbcAdminTask.js
  e2e/tests/api_unspec_claim_tests/api_1v2_defendant_response_consent_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_ApplicationOrders_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToFields/ApplicationResponseGAspec.json
  ga-ccd-definition/CaseEventToFields/ChangeStateToAdditionalResponseTime.json
  ga-ccd-definition/CaseEventToFields/ChangeStateToAwaitingJuducialDecisionGASpec.json
  ga-ccd-definition/CaseEventToFields/EndJudgeBusinessProcessGASpec.json
  ga-ccd-definition/CaseEventToFields/EndOfBusinessProcessGASpec.json
  ga-ccd-definition/CaseEventToFields/ReferToJudgeGASpec.json
  ga-ccd-definition/CaseEventToFields/ReferToLegalAdvisorGASpec.json
  ga-ccd-definition/CaseEventToFields/TriggerAndUpdateLocationGASpec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-697

#710 CIV-0000 wa chart changes
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.enableWA.preview.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-710

#704 CIV-7929 Caseworker to Approve Consent Order Screens
  e2e/api/steps.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/ApproveConsentOrderGAspec.json
  ga-ccd-definition/CaseEventToFields/ApplicationResponseGAspec.json
  ga-ccd-definition/CaseEventToFields/ApproveConsentOrderGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAApproveConsentOrderGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ga-ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-704

#703 CIV-0809 Fix for master pipeline test issue
  .nvmrc
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/1v1_CP_ApplicationOrders_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_ApplicationOrders_test.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-703

#712 CIV-8431 Case File Viewer - Applicant and Respondent upload evidence …
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/tests/api_unspec_claim_tests/api_1v2_general_app_collections_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-712

#722 CIV-0000 remove main claim pbav3 assertions
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-722

#718 CIV-8134 Update permissions for legal advisor
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-718

#723 CIV-0000 change xui to latest
  charts/civil-ga-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-723

#726 CIV-0809 UI test fix
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesConfirmation.page.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-726

#727 CIV-0000 changes required with the new exclusions
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-727

#715 CIV-7931 Docmosis Output when Consent Order Approved
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/events.js
  e2e/fixtures/ga-ccd/nbcAdminTask.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/caseFile.page.js
  e2e/pages/generalApplication/claimDocument.page.js
  e2e/pages/generalApplication/consentOrderPages/approveConsentOrder.page.js
  e2e/pages/generalApplication/consentOrderPages/consentOrderCheckYourAnswers.page.js
  e2e/pages/generalApplication/consentOrderPages/reviewConsentOrderDocument.page.js
  e2e/pages/generalApplication/judgesJourneyPages/applicationDocument.page.js
  e2e/steps_file.js
  e2e/tests/api_unspec_claim_tests/api_1v1_approve_consent_order_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_ConsentOrders_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDocuments.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-715

#724 CIV-5226 ga fees mixed types api test
  e2e/api/steps.js
  e2e/tests/api_unspec_claim_tests/api_1v1_ga_fee_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-724

#731 CIV-8482 : 8316 and 8431 UI automation
  codecept.conf.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/caseFile.page.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/1v1_CP_ApplicationOrders_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_ApplicationOrders_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_ConsentOrders_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ga-ccd-pr-731
