Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2023-02, with the labels that each got.

#509 CIV-6683 Add Api Test
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/tests/api_unspec_claim_tests/api_1v1_written_rep_test.js
Labels: ns:civil, prd:civil, add-or-update, rel:civil-ga-ccd-pr-509

#520 yarn upgrade changes
  .gitignore
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-520

#512 Civ 6017
  ga-ccd-definition/FixedLists/DocumentType.json
  package.json
Labels: ns:civil, prd:civil, add-or-update, rel:civil-ga-ccd-pr-512

#526 CIV-6927 corrected tab name in responsesummary - nightly failure fixed
  e2e/pages/generalApplication/responseJourneyPages/responseSummary.page.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-526

#529 CIV-6196 bug Schedule Application Hearing task is not visible to nbc admin
  ga-ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-529

#525 CIV-5411: GA R2 UI Automation
  Jenkinsfile_CNP
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/applicantSummary.page.js
  e2e/pages/generalApplication/applicationTab.page.js
  e2e/pages/generalApplication/applicationType.page.js
  e2e/pages/generalApplication/checkYourAnswers.page.js
  e2e/pages/generalApplication/generalApplicationTypes.js
  e2e/pages/generalApplication/hearingDate.page.js
  e2e/pages/generalApplication/n245Form.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-525

#534 CCD latest version autoscale issue fix
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-534

#523 CIV-6925 Create appln and respondent camunda notification event
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/NotificationEventsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-523

#517 Civ 6796
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/genAppHearing.js
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_list_for_hearing_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseEventToFields/ScheduleHearingGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseTypeTab/ApplicationDocuments-GAR3CP-nonprod.json
  ga-ccd-definition/ComplexTypes/GAHearingNotice-GAR3CP-nonprod.json
  ga-ccd-definition/FixedLists/ApplicationDetailsOptionGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/FixedLists/DocumentType-GAR3CP-nonprod.json
Labels: ns:civil, prd:civil, add-or-update, rel:civil-ga-ccd-pr-517

#537 CIV-7026 Fix N245 Label issue
  e2e/pages/generalApplication/applicantSummary.page.js
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDateGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-537

#539 Parallel run changes
  codecept.conf.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-539

#516 CIV-5433 - Add Title validation, Add Code Owners
  .github/CODEOWNERS
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-516

#532 CIV-7084 remove dependabot and delegate its tasks to renovate
  .github/dependabot.yml
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-532

#442 CIV-6276 sdo
  e2e/api/steps.js
  e2e/claimAmountAndFee.js
  e2e/fixtures/events/claim/defendantResponseSpec1v2.js
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/createClaim.js
  e2e/helpers/hnlFeatureHelper.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_afterSDO_GeneralApplication_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_move_case_to_caseman_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_afterSDO_GeneralApplication_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_list_for_hearing_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-442

#548 CIV-7146 Change in functional tests
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/run-functional-tests.sh
  e2e/run-nightly-functional-tests.sh
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/ga_smoke_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-548

#560 Renovate feb14th
  .github/renovate.json
  .github/workflows/stale.yml
  charts/civil-ga-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-560

#543 CIV-6868 Added a new caseEvent and caseField for Data Migration
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseEvent/User/MigrationEvents.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-543

#571 CIV-7182 unassign GA user roles in AM
  e2e/api/steps.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_afterSDO_GeneralApplication_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-571

#572 CIV-7038 and CIV-7014 UI automation
  codecept.conf.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/pages/generalApplication/gaPBANumber.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesConfirmation.page.js
  e2e/pages/generalApplication/judgesJourneyPages/uploadScreen.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseConfirmation.page.js
  e2e/pages/generalApplication/serviceRequest.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/1v1_CP_HearingNotice_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_HearingNotice_AfterSDO_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-572

#569 CIV-7014 WaysTo Pay Refactoring
  codecept.conf.js
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/pages/generalApplication/gaPBANumber.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesConfirmation.page.js
  e2e/pages/generalApplication/judgesJourneyPages/uploadScreen.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseConfirmation.page.js
  e2e/pages/generalApplication/serviceRequest.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/1v1_CP_HearingNotice_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_HearingNotice_AfterSDO_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/State.json
  package.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ga-ccd-pr-569

#531 CIV-6861 Display date field for unless order
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/CheckUnlessOrderEndDateSchedulerGASpec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/CheckUnlessOrderEndDateSchedulerGASpec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-531

#570 CIV-6684 reodrder fields
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/requestMoreInformation.page.js
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialRequestMoreInfoGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialWrittenRepDrawGeneralOrderGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-570

#568 CIV-6035 charts tidy up ga
  Jenkinsfile_CNP
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
  charts/civil-ga-ccd/values.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-568

#577 CIV-7118 relevant commits with the changes required
  Jenkinsfile_CNP
  bin/variables/load-preview-environment-variables.sh
  bin/variables/load-staging-environment-variables.sh
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-577

#578 CIV-7014 confirmation message on tests
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-578
