Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2023-04, with the labels that each got.

#657 CIV-0000 Skip test temporarly
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_HearingNotice_AfterSDO_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-657

#655 CIV-7778 fix defendantResponseSpecClaim affected by ga doc
  e2e/api/steps.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_claimant_response_offline_nightly_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_defendant_response_offline_nightly_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-655

#651 CIV-7540 final order process
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/judgeMakeFinalDecision.js
  e2e/pages/generalApplication/applicationOrderPages/reviewAppOrderDocument.page.js
  e2e/pages/generalApplication/claimDocument.page.js
  e2e/pages/generalApplication/judgesJourneyPages/applicationDocument.page.js
  e2e/steps_file.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_make_final_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_judge_make_final_order_test.js
  e2e/tests/ui_tests/1v1_CP_ApplicationOrders_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_ApplicationOrders_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  ga-ccd-definition/CaseEventToFields/FinalOrders.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-651

#663 CIV-6851 fix case man offline tests
  e2e/api/steps.js
  e2e/fixtures/events/caseProceedsInCasemanSpec.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_move_case_to_caseman_offline_nightly_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-663

#666 CIV-7627 add urgent test
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/tests/api_spec_claim_test/api_spec_1v1_directions_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_directions_order_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-666

#668 CIV-8015 Fix for nightly test failures
  e2e/pages/generalApplication/applicationOrderPages/assistedOrder.page.js
  e2e/pages/generalApplication/applicationOrderPages/freeFormOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-668

#671 CIV-8017 API tests cleanup
  e2e/tests/api_spec_claim_test/api_spec_1v1_directions_order_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v1_judge_decision_addIn_info_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v1_written_rep_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_afterSDO_GeneralApplication_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_claimant_response_offline_nightly_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_defendant_response_offline_nightly_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_move_case_to_caseman_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_adjourn_vacate_ga_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_claimant_response_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_directions_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_addln_info_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_applic_dismiss_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_uncloak_application_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_make_final_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_order_made_decision_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_unless_order_decision_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_written_rep_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_additional_info_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_application_dissmised_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_awaiting_written_representation_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_directions_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_general_app_collections_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_judge_make_final_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_judge_order_made_decision_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_details_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_proceeds_in_heritage_test.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-671

#674 CIV-0000 Update process-definition.sh
  Jenkinsfile_CNP
  bin/utils/process-definition.sh
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ga-ccd-pr-674

#677 CIV-0000 changing civil ccd branch to master and changing processor to latest …
  Jenkinsfile_CNP
  bin/utils/process-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-677

#676 CIV-7675 Refactor Judge Recital Whitespace
  e2e/pages/generalAppCommons.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-676

#662 CIV-7578 Add case data fields to enable Auto Triage
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/nbcAdminTask.js
  e2e/tests/api_wa_tests/1v1_unspec_ga_wa_specific_access_test.js
  e2e/tests/api_wa_tests/api_1v1_unspec_ga_wa_challenged_access_test.js
  e2e/tests/api_wa_tests/api_ga_wa_judge_revisit_scenarios_test.js
  e2e/tests/ui_tests/wa_tests/1v1_Unspec_GA_WA_scheduleHearing_test.js
  e2e/tests/ui_tests/wa_tests/1v2_Spec_GA_WA_reviewAppOrder_test.js
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/EndOfBusinessProcessGASpec.json
  ga-ccd-definition/CaseEventToFields/ApplicationResponseGAspec.json
  ga-ccd-definition/CaseEventToFields/ChangeStateToAdditionalResponseTime.json
  ga-ccd-definition/CaseEventToFields/ChangeStateToAwaitingJuducialDecisionGASpec.json
  ga-ccd-definition/CaseEventToFields/CheckStayOrderEndDateSchedulerGASpec.json
  ga-ccd-definition/CaseEventToFields/CheckUnlessOrderEndDateSchedulerGASpec.json
  ga-ccd-definition/CaseEventToFields/EndJudgeBusinessProcessGASpec.json
  ga-ccd-definition/CaseEventToFields/EndOfBusinessProcessGASpec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/ReferToJudgeGASpec.json
  ga-ccd-definition/CaseEventToFields/ReferToLegalAdvisorGASpec.json
  ga-ccd-definition/CaseEventToFields/TriggerAndUpdateLocationGASpec.json
  wa/tasks/reviewApplicationTask.js
  wa/tasks/reviewRevisitedApplication.js
  wa/tasks/reviewRevisitedApplicationWrittenRep.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-662

#649 CIV-6668 add tenant-id to import-bpmn-diagram.sh
  bin/import-bpmn-diagram.sh
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-649

#678 CIV-8066 Refactor caseworker and adviser permission
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-678

#672 CIV-6245 Allow Judges to see who has made the application
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-672

#675 CIV-7859 Remove text from bottom of Application Screen
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-675

#679 CIV-6245 automation task
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/pages/generalAppCommons.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-679

#684 CIV-8142 Removed e from Summary Judgment wording
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/applicationType.page.js
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ga-ccd-pr-684

#681 CIV-7737 update for spring boot 3
  e2e/api/steps.js
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-681

#687 CIV-8143 Legal Advisor needs to be able to refer to Judge
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-687
