Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2023-09, with the labels that each got.

#846 CIV-0000 fix main case respond
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-846

#855 CIV-10431 Fix api offline nightly
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_details_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_offline_nightly_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-855

#847 CIV-10069 Refactor Judicial Decision options
  .github/workflows/main.yml
  e2e/pages/generalApplication/judgesJourneyPages/judgeDecision.page.js
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/FixedLists/GAJudgeDecisionOptionGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-847

#841 CIV-9750 not agree respond
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/respondentResponse.js
  e2e/tests/api_spec_claim_test/api_spec_1v1_directions_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_directions_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_defendant_response_consent_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_ConsentOrders_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToFields/ApplicationResponseGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDocuments.json
  ga-ccd-definition/ComplexTypes/GAResondentResponseGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-841

#862 CIV-10448 S2S refactor
  Jenkinsfile_CNP
  e2e/api/apiRequest.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-862

#849 CIV-9786 Update Free form after hearing schedule screen
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/fixtures/ga-ccd/judgeMakeFinalDecision.js
  e2e/fragments/date.js
  e2e/pages/generalApplication/applicationOrderPages/assistedOrder.page.js
  e2e/pages/generalApplication/applicationOrderPages/freeFormOrder.page.js
  e2e/steps_file.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_make_final_order_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseEventToFields/FinalOrders.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/FixedLists/OrderOnCourtInitiativeList.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-849

#856 CIV-10102 make order without hearing P1
  e2e/pages/generalAppCommons.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GA_spec_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/wa_tests/1v1_Unspec_GA_WA_scheduleHearing_test.js
  e2e/tests/ui_tests/wa_tests/1v2_Spec_GA_WA_reviewAppOrder_test.js
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-856

#858 CIV-100 Assisted Order for Applications change Order date heard
  e2e/fixtures/ga-ccd/judgeMakeFinalDecision.js
  e2e/pages/generalApplication/applicationOrderPages/assistedOrder.page.js
  ga-ccd-definition/CaseEventToComplexTypes/FinalOrder/DateHeardFinalOrders.json
  ga-ccd-definition/CaseEventToFields/FinalOrders.json
  ga-ccd-definition/CaseField/CaseFieldFinalOrders.json
  ga-ccd-definition/ComplexTypes/FinalOrder/AssistedOrderBeSpokeRange.json
  ga-ccd-definition/ComplexTypes/FinalOrder/AssistedOrderDateRange.json
  ga-ccd-definition/ComplexTypes/FinalOrder/AssistedOrderDateSingle.json
  ga-ccd-definition/ComplexTypes/FinalOrder/AssistedOrderMadeDateSelection.json
  ga-ccd-definition/FixedLists/FinalOrder/AssistedOrderMadeDateList.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-858

#871 CIV-8301 Regression test fix
  Jenkinsfile_nightly
  e2e/api/steps.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/n245Form.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseConfirmation.page.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GA_Unspec_collections_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GA_Unspec_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GA_spec_test.js
Labels: ns:civil, prd:civil, Testing, WIP, rel:civil-ga-ccd-pr-871

#864 CIV-10423 Make an Order without Hearing Part 2
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/pages/generalAppCommons.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
  ga-ccd-definition/FixedLists/GAByCourtsInitiativeGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-864

#873 CIV-10585 Update file types and mb to MB
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-873

#880 CIV-8301 Fix for UI nightly test
  e2e/pages/generalAppCommons.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-880

#878 CIV-10426 Added new fields for Assisted Order further hearing
  ga-ccd-definition/CaseEventToComplexTypes/FinalOrder/FurtherHearingFinalOrders.json
  ga-ccd-definition/ComplexTypes/FinalOrder/AssistedOrderFurtherHearingDatesAvoid.json
  ga-ccd-definition/ComplexTypes/FinalOrder/FurtherHearingFinalOrders.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-878

#886 CIV-9786 Fix FreeForm Order Date
  e2e/fragments/date.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-886

#890 CIV-8301 Fix for nightly tests
  e2e/pages/generalAppCommons.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_ConsentOrders_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-890

#876 CIV-10646 application text change
  e2e/api/steps.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-876

#881 CIV-10231 Update Application Type Name
  e2e/pages/generalApplication/hearingDate.page.js
  ga-ccd-definition/ComplexTypes/GAHearingDateGAspec.json
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-881

#883 CIV-10664 Fix UI Nightly Test
  e2e/pages/generalAppCommons.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-883
