Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2023-08, with the labels that each got.

#828 CIV-5339 - Release 2 - LIP v LIP Update Access Profile
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-828

#833 CIV-0000 remove AAT logging from wa-case-event-handler
  charts/civil-ga-ccd/values.enableWA.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-833

#834 CIV-0000 updated servicebus name
  charts/civil-ga-ccd/values.enableWA.preview.template.yaml
Labels: ns:civil, prd:civil, pr-values:enableWA, rel:civil-ga-ccd-pr-834
