Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2023-07, with the labels that each got.

#790 CIV-9414 ccd datastore 403 forbidden error issue
  e2e/api/steps.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_make_final_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_order_made_decision_test.js
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-790

#805 CIV-9676 Fix for case file viewer slowness
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/tests/api_unspec_claim_tests/api_1v1_directions_order_test.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-805

#804 CIV-9596 fix waitForGACamundaEventsFinishedBusinessProcess
  e2e/api/steps.js
  e2e/api/testingSupport.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-804

#797 CIV-8300 WA API test fixes
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/steps_file_WA.js
  e2e/tests/api_wa_tests/1v1_unspec_ga_wa_specific_access_test.js
  e2e/tests/api_wa_tests/api_1v1_unspec_ga_wa_application_closed_test.js
  e2e/tests/api_wa_tests/api_1v1_unspec_ga_wa_challenged_access_test.js
  e2e/tests/api_wa_tests/api_ga_wa_judge_revisit_scenarios_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-797

#810 CIV-9676 master pipeline fixes
  charts/civil-ga-ccd/values.template.yaml
  e2e/config.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/caseFile.page.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-810

#814 CIV-0000 civil service chart upgrade
  charts/civil-ga-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-814

#817 CIV-9676 Fix for nightly UI tests
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-817

#819 CIV-7897 Update Event Roles
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-819

#818 CIV-9676 UI e2e tests changes
  Jenkinsfile_nightly
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_ConsentOrders_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-818

#822 CIV-9676 UI test changes
  e2e/api/steps.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/caseFile.page.js
  e2e/pages/generalApplication/claimDocument.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/1v1_CP_ApplicationOrders_test.js
  e2e/tests/ui_tests/1v1_CP_HearingNotice_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_ConsentOrders_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GA_Unspec_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GA_spec_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-822
