Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2023-03, with the labels that each got.

#582 CIV-7182 Fix for nightly tests
  Jenkinsfile_nightly
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/applicationTab.page.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/pages/generalApplication/serviceRequest.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/crossBrowser_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-582

#573 CIV-7095 revert 3774 test
  e2e/pages/generalApplication/claimDocument.page.js
  e2e/steps_file.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_list_for_hearing_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_general_app_collections_test.js
  e2e/tests/ui_tests/1v1_CP_HearingNotice_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_HearingNotice_AfterSDO_test.js
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec-GAR3CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-573

#581 CIV-7148 Hide Orders on Main Case
  e2e/api/steps.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_uncloak_application_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_list_for_hearing_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_general_app_collections_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_judge_list_for_hearing_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-581

#588 CIV-7495 awaiting business process
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/wa_tests/1v1_Unspec_GA_WA_scheduleHearing_test.js
  e2e/tests/ui_tests/wa_tests/1v2_Spec_GA_WA_reviewAppOrder_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-588

#579 CIV-7037 Removed Payment failure methods
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.template.yaml
  codecept.conf.js
  e2e/api/testingSupport.js
  e2e/fixtures/ga-ccd/events.js
  e2e/pages/generalApplication/applicationDetails.page.js
  e2e/pages/generalApplication/applicationTab.page.js
  e2e/pages/generalApplication/checkYourAnswers.page.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/pages/generalApplication/gaPBANumber.page.js
  e2e/pages/generalApplication/serviceRequest.page.js
  e2e/steps_file.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_list_for_hearing_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/1v1_CP_HearingNotice_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_HearingNotice_AfterSDO_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/CaseEvents.json
  ga-ccd-definition/CaseEvent/Camunda/GeneralAppPaymentEventsGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/MakePBAPaymentGAspec.json
  ga-ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-579

#594 CIV-7501 Add Unless order scheduler API test
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_order_made_decision_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_unless_order_decision_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_directions_order_test.js
  e2e/tests/api_wa_tests/api_ga_wa_judge_revisit_scenarios_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-594

#602 CIV-7508 removed API tests from nightly suite
  e2e/run-nightly-functional-tests.sh
  e2e/tests/api_unspec_claim_tests/api_1v2_judge_list_for_hearing_test.js
  e2e/tests/ui_tests/1v1_CP_HearingNotice_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_HearingNotice_AfterSDO_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-602

#605 CIV-0000 Update api_spec_1v2_afterSDO_GeneralApplication_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_afterSDO_GeneralApplication_test.js
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ga-ccd-pr-605

#586 CIV-7150 Added UI and API test for varyJudgement
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/consentCheck.page.js
  e2e/steps_file.js
  e2e/tests/api_spec_claim_test/api_spec_1v1_directions_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_directions_order_test.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-586

#613 CIV-7329 UI automation changes for Vary Judgement and Vary Order fee
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/pages/generalApplication/gaPBANumber.page.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-613

#617 CIV-0000 nightly build fix
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-617

#607 CIV-7412 Reverted xui image to latest
  charts/civil-ga-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-607

#619 CIV-7322 UI test changes
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-619

#618 CIV-7588 relevant changes required to modify court location names
  e2e/config.js
  e2e/fixtures/events/claim/claimantResponseSpec.js
  e2e/fixtures/events/claim/claimantResponseSpec2v1.js
  e2e/fixtures/events/claim/defendantResponseSpec.js
  e2e/fixtures/events/claim/defendantResponseSpec1v2.js
  e2e/fixtures/events/claim/defendantResponseSpec2v1.js
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec2v1.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_afterSDO_GeneralApplication_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-618

#606 CIV-7182 Refactor GA UI tests
  e2e/config.js
  e2e/fixtures/ga-ccd/state.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/1v1_CP_HearingNotice_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_HearingNotice_AfterSDO_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/wa_tests/1v1_Unspec_GA_WA_scheduleHearing_test.js
  e2e/tests/ui_tests/wa_tests/1v2_Spec_GA_WA_reviewAppOrder_test.js
Labels: ns:civil, prd:civil, WIP, rel:civil-ga-ccd-pr-606

#522 CIV-7005 Fix broken tests
  charts/civil-ga-ccd/values.template.yaml
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/fixtures/events/claim/defendantResponseSpec.js
  e2e/fixtures/events/claim/defendantResponseSpec1v2.js
  e2e/fixtures/events/claim/defendantResponseSpec2v1.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/featureKeys.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_claimant_response_offline_nightly_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_defendant_response_offline_nightly_test.js
  e2e/tests/api_spec_claim_test/api_spec_1v2_move_case_to_caseman_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_adjourn_vacate_ga_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_afterSDO_GeneralApplication_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_claimant_response_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_directions_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_addln_info_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_applic_dismiss_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_decision_uncloak_application_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_list_for_hearing_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_order_made_decision_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_judge_unless_order_decision_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_written_rep_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_additional_info_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_application_dissmised_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_awaiting_written_representation_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_defendant_response_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_directions_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_general_app_collections_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_judge_list_for_hearing_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_judge_order_made_decision_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_details_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_notify_claim_offline_nightly_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_proceeds_in_heritage_test.js
  e2e/tests/api_wa_tests/1v1_unspec_ga_wa_specific_access_test.js
  e2e/tests/api_wa_tests/api_1v1_unspec_ga_wa_application_closed.js
  e2e/tests/api_wa_tests/api_1v1_unspec_ga_wa_challenged_access_test.js
  e2e/tests/api_wa_tests/api_ga_wa_judge_revisit_scenarios_test.js
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/1v1_CP_HearingNotice_test.js
  e2e/tests/ui_tests/crossBrowser_test.js
  e2e/tests/ui_tests/ga_smoke_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_HearingNotice_AfterSDO_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  e2e/tests/ui_tests/wa_tests/1v1_Unspec_GA_WA_scheduleHearing_test.js
  e2e/tests/ui_tests/wa_tests/1v2_Spec_GA_WA_reviewAppOrder_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-522

#622 CIV-0000 corrections to pass in pbav3 variable
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-622

#595 CIV-7411 Removed GAR2GA and GAR3CP
  e2e/run-functional-tests.sh
  e2e/tests/ui_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_HearingNotice_AfterSDO_test.js
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/SystemUpdateGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/AuthorisationCaseType/AuthorisationCaseTypeGAspec-prod.json
  ga-ccd-definition/AuthorisationCaseType/AuthorisationCaseTypeGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-GAR3CP-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  ga-ccd-definition/CaseEvent/Camunda/NotificationEventsGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/ScheduleHearingEvents-GAR3CP.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/ScheduleHearingGAspec.json
  ga-ccd-definition/CaseEventToFields/EndJudgeBusinessProcessGASpec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/ScheduleHearingGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-GAR3CP-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ApplicationDocuments-GAR3CP-nonprod.json
  ga-ccd-definition/CaseTypeTab/ApplicationDocuments.json
  ga-ccd-definition/ComplexTypes/GAHearingNotice.json
  ga-ccd-definition/FixedLists/ApplicationDetailsOptionGAspec.json
  ga-ccd-definition/FixedLists/DocumentType-GAR3CP-nonprod.json
  ga-ccd-definition/FixedLists/DocumentType.json
  ga-ccd-definition/FixedLists/HearingChannel.json
  ga-ccd-definition/FixedLists/HearingLengthCasePro.json
  ga-ccd-definition/FixedLists/HearingTimeHourMinute.json
  package.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-595

#616 CIV-7535 landing page
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToFields/FinalOrders.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/FixedLists/FinalOrderSelection.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-616

#623 CIV-7576 Enabling Hearing notice UI and API tests
  e2e/api/steps.js
  e2e/api/steps_SDO.js
  e2e/config.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/createSDO.js
  e2e/pages/generalApplication/hearingNoticePages/hearingSchedule.page.js
  e2e/run-functional-tests.sh
  e2e/tests/api_spec_claim_test/api_spec_1v2_afterSDO_GeneralApplication_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_judge_list_for_hearing_test.js
  e2e/tests/ui_tests/1v1_CP_HearingNotice_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_HearingNotice_AfterSDO_test.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ga-ccd-pr-623

#629 CIV-0000 nightly test fix and switching on bail true for nightly
  codecept.conf.js
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_CP_HearingNotice_AfterSDO_test.js
  package.json
  sonar-project.properties
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-629

#625 CIV-7536 Journey 2
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseEventToFields/FinalOrders.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/OrderOnCourtInitiative.json
  ga-ccd-definition/ComplexTypes/OrderWithoutNotice.json
  ga-ccd-definition/FixedLists/OrderOnCourtInitiativeList.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-625

#641 CIV-0000 change puppeteer version
  package.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-641

#624 CIV-6678 Optional paragraph radio button update
  charts/civil-ga-ccd/values.template.yaml
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/pages/generalAppCommons.js
  e2e/pages/generalApplication/applicationOrderPages/freeFormOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/drawGeneralOrder.page.js
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseEventToFields/JudicialDecisionGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
  ga-ccd-definition/ComplexTypes/GAOrderCourtOwnInitiativeGAspec.json
  ga-ccd-definition/ComplexTypes/GAOrderWithoutNoticeGAspec.json
  ga-ccd-definition/FixedLists/GAByCourtsInitiativeGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-624

#635 CIV-7538 freeform preview
  charts/civil-ga-ccd/values.template.yaml
  e2e/pages/generalApplication/applicationOrderPages/appOrderCheckYourAnswers.page.js
  e2e/pages/generalApplication/applicationOrderPages/appOrderConfirmation.page.js
  e2e/pages/generalApplication/applicationOrderPages/reviewAppOrderDocument.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/1v1_CP_ApplicationOrders_test.js
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToFields/FinalOrders.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ga-ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-635

#634 CIV-4995 Update CaseManagementLocation when main claim changes its location
  Jenkinsfile_CNP
  charts/civil-ga-ccd/Chart.yaml
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/tests/api_unspec_claim_tests/api_1v1_afterSDO_GeneralApplication_test.js
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-634

#643 CIV-7055 Reconfigure Work Allocation Tasks on Court Location Update
  ga-ccd-definition/CaseEventToFields/TriggerAndUpdateLocationGASpec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-643
