Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2024-05, with the labels that each got.

#1129 DTSCCI-258 - Put correct claim fee amounts in Gen Apps tests
  e2e/api/steps.js
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/fixtures/ga-ccd/judgeMakeDecision.js
  e2e/pages/generalApplication/gaConfirmation.page.js
  e2e/pages/generalApplication/gaPBANumber.page.js
  e2e/tests/api_unspec_claim_tests/api_1v1_adjourn_vacate_ga_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_ga_fee_test.js
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1129

#1133 CIV-13475 Move gaforlip flag to nonprod file
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/StaffGAspec.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff-CUI-nonprod.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec-CUI-nonprod.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: ns:civil, prd:civil, Testing, enable_keep_helm, rel:civil-ga-ccd-pr-1133

#1141 CIV-14006 Exclude CUI files
  bin/build-release-ccd-definition.sh
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1141
