Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2024-09, with the labels that each got.

#1231 CIV-14276 add generalAppAddlnInfoText for cui text input
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1231

#1240 CIV-14353 Court response - request written representations - provide more information screen
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1240

#1249 CIV-14406 Dashboard Notification - GA for LiPs - Pay application fee
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/DashboardEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1249

#1250 CIV-14421 - Dashboard Notification - GA for LiPs - request more info
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/DashboardEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1250

#1252 CIV-14404 Dashboard Notification - GA for LiPs - Application is being processed (after payment/HwF)
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/DashboardEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1252

#1258 CIV-9450 added ccd events for urgent lips
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1258

#1259 CIV-0000 Bulk cui sprint branch
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/DashboardEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1259

#1255 CIV-14320 api test of ga final order
  e2e/api/steps.js
  e2e/fixtures/events/cui/createGAUnrepresented.js
  e2e/tests/api_spec_claim_test/api_spec_1v1_lip_lip_directions_order_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1255

#1256 CIV-14408 - (CIV-14407) Dashboard Notification - GA for LiPs - Other parties request change (URGENT/Non-Urgent)
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/DashboardEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1256

#1260 CIV-14430 Dashboard notification for GA Lip Hwf
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/DashboardEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1260

#1265 CIV-15110 Add UPLOAD_TRANSLATED_DOCUMENT event
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEventToComplexTypes/TranslatedDocument-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/UploadTranslatedDocument-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/ComplexTypes/TranslatedDocument-CUI-nonprod.json
  ga-ccd-definition/FixedLists/TranslatedDocumentType-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1265

#1266 DTSCCI-814 add scripts dev env
  README.md
  bin/import-ccd-definition.sh
  bin/setup-devuser-preview-env.sh
  bin/variables/load-dev-user-preview-environment-variables.sh
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1266

#1245 CIV-14419 Publish required fields
  ga-ccd-definition/CaseEventToFields/ApplicationResponse-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/ChangeStateToAdditionalResponseTime-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/ChangeStateToAwaitingJuducialDecision-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/EndOfBusinessProcess-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/ModifyStateAfterAdditionalFeePaid-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/TriggerAndUpdateLocation-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1245

#1262 CIV-14423 Add event for written reps notification deletion
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1262

#1268 CIV-0000 Bulk sp4 to master
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/DashboardEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1268
