Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2024-11, with the labels that each got.

#1332 CIV-15457 update hwf js
  e2e/fixtures/events/cui/hwf.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1332

#1321 CIV-14568 Add/update CUI task list events
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/DashboardEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1321

#1328 CIV-15654 CoSc- View application
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-COSC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1328

#1316 CIV-15115 show translated doc on xui
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec-CUI-nonprod.json
  ga-ccd-definition/FixedLists/TranslatedDocumentType-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1316

#1320 CIV-15215 - GA for LiPs Welsh : Application Documents Work Allocation task (LiP PDF documents and uploaded documents))
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseEventToFields/EndJudgeBusinessProcess-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/EndOfBusinessProcess-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/WARespondToJudgeDirectionOrder-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/WAUploadAddlDocuments-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1320

#1341 DTSCCI-0059 Configure to use civil-service app insights from key vault
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1341

#1338 DTSCCI-1145 - disabling CARM on LR v LR GA api tests
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1338

#1331 DTSCCI-940 hiding field as per request
  e2e/pages/generalApplication/judgesJourneyPages/judgesSummary.page.js
  e2e/pages/generalApplication/judgesJourneyPages/makeAnOrder.page.js
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudicialMakeAnOrderGAspec.json
Labels: ns:civil, prd:civil, pr-values:enableWA, rel:civil-ga-ccd-pr-1331

#1335 CIV-15782 - Upload translated document WA task is not being triggered for some orders
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  ga-ccd-definition/CaseEventToFields/EndDocUploadBusinessProcessGaspec-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/EndHearingScheduledProcessGaSpec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1335

#1353 CIV-15650 Add new fields for judge orders and reasons
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1353

#1354 CIV-15943 remove limitation of characters from text areas and add MAX 70 on name
  ga-ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDetailsRespGAspec.json
  ga-ccd-definition/ComplexTypes/GAStatementOfTruthGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1354
