Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2024-07, with the labels that each got.

#1184 DTSCCI-490 remove deprecated property volume lib
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1184

#1185 DTSCCI-490 remove deprecated property volume lib
  charts/civil-ga-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1185

#1187 DTSCCI-490 remove deprecated property volume lib
  bin/create-github-release.sh
  bin/pull-latest-release-asset.sh
  bin/utils/idam-lease-user-token.sh
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
  sonar-project.properties
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1187

#1179 CIV-12765 HwF Caseworker - Part Remission
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEventToComplexTypes/PartialRemission-HWF-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/PartialRemission-HWF-CUI-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ga-ccd-pr-1179

#1197 DTSCCI-567 rollback servicebus chart
  charts/civil-ga-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1197

#1206 CIV-000 Skip failing test
  e2e/tests/ui_tests/ga_smoke_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1206

#1193 CIV-14064 Add field to store application fee after paid
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1193

#1198 CIV-14228 GA upload additional documents
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1198

#1215 CIV-0000 Update servicerbus version
  charts/civil-ga-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1215

#1204 CIV-14127 Court Response Document - Without notice becomes with notice
  ga-ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1204
