Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2024-12, with the labels that each got.

#1336 CIV-15113 Events for bulk print translated doc
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/NotificationEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1336

#1355 CIV-15787 - Upload translated document WA task is not autocompleting
  ga-ccd-definition/CaseEventToFields/EndHearingScheduledProcessGaSpec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1355

#1365 CIV-16277 remove char limit
  ga-ccd-definition/ComplexTypes/GAHearingDetailsRespGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1365

#1370 CIV-0000 supress the test
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1370

#1373 DTSCCI-000 - adding supporting evidence verification into cfv V2
  e2e/pages/generalApplication/caseFile.page.js
  e2e/tests/ui_tests/cp_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/cp_tests/1v1GeneralApplication_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1373

#1270 DTSCCI-167 payment history tab
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec.json
  ga-ccd-definition/AuthorisationCaseType/AuthorisationCaseTypeGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/PaymentHistory.json
  ga-ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-ga-ccd-pr-1270

#1371 CIV-15815 fix issue with button
  e2e/tests/api_unspec_claim_tests/api_1v1_ga_fee_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1371
