Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2024-06, with the labels that each got.

#1134 CIV-13537 LR vs Lip with notice
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1134

#1149 CIV-14083 Add auth for citizen fields
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1149

#1158 CIV-14142 Remove Ga Flags from testcase
  e2e/fixtures/ga-ccd/createGeneralApplication.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1158

#1159 CIV-0000 ga_lip_bulk to master
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/ComplexTypes/GAHelpWithFees-CUI-nonprod.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1159

#1155 CIV-14140 Providing General applications access to CUI-admin profile
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseState/AuthorisationCaseStateGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseType/AuthorisationCaseTypeGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationComplexType/citizenGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/ComplexTypes/GAHelpWithFees-CUI-nonprod.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec-CUI-nonprod.json
  ga-ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
  ga-ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1155

#1164 CIV-9465 LiP Pay for Application
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/ComplexTypes/PaymentDetails-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1164

#1162 CIV-9441 Update task list events
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/DashboardEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1162

#1173 CIV-12771 Application Fee - HwF Caseworker
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HWF-R2-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/HelpWithFeesMoreInformation-HWF-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-HWF-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1173

#1175 CIV-12769 Updated HWF ref number
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEventToComplexTypes/UpdateReferenceNum-HWF-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/UpdateReferenceNum-HWF-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1175

#1176 CIV-12773 Application Fee - HwF Caseworker - Full remission HwF - granted
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/FullRemission-HWF-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1176

#1178 CIV-14235 api testing for GA
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/events/cui/createClaimUnrepresentedClaimant.js
  e2e/fixtures/events/cui/createGAUnrepresented.js
  e2e/tests/api_spec_claim_test/api_spec_1v1_lip_lip_directions_order_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1178

#1174 CIV-12767 added ccd configuration for Invalid Hwf
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/InvalidHelpWithFees-HWF-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1174
