Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2024-08, with the labels that each got.

#1209 CIV-14334 Submit function for HwF - GA for LiPs (Includes WA)
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEventToFields/NotifyCaseWorkerHelpWithFee-CUI-nonprod.json
  ga-ccd-definition/ComplexTypes/GAHelpWithFees-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1209

#1219 CIV-12772 Application fee - Claimant notification Caseworker HWF events
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/NotificationEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1219

#1201 DTSCCI-000 stop creating task when additonal documents get uploaded
  charts/civil-ga-ccd/Chart.yaml
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
Labels: ns:civil, prd:civil, Testing, pr-values:elasticsearch, enable_keep_helm, rel:civil-ga-ccd-pr-1201

#1228 CIV-14845 Birmingham now part of national rollout
  e2e/tests/api_unspec_claim_tests/api_1v1_afterSDO_GeneralApplication_test.js
  e2e/tests/ui_tests/ga_smoke_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1228

#1224 CIV-14130 Removed cui-admin profile for NOTIFY caseEvent
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1224

#1208 CIV-14036 Add HwF info in Application tab
  e2e/tests/api_spec_claim_test/api_spec_1v1_lip_lip_directions_order_test.js
  ga-ccd-definition/CaseField/CaseFieldGAspec-HWF-CUI-nonprod.json
  ga-ccd-definition/CaseTypeTab/ApplicationDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/FeeGAspec.json
  ga-ccd-definition/ComplexTypes/GAHelpWithFees-CUI-nonprod.json
  ga-ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
  ga-ccd-definition/ComplexTypes/HelpWithFeesDetails-HWF-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1208

#1229 CIV-14813 CUI Defendant Dashboard - Application section
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/DashboardEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1229

#1203 DTSCCI-613 Enable WA for GA defs
  Jenkinsfile_CNP
  README.md
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.enableWA.preview.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
  charts/civil-ga-ccd/values.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1203

#1238 DTSCCI-613 postgres chart changes for wa
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.template.yaml
  charts/civil-ga-ccd/values.yaml
Labels: ns:civil, prd:civil, pr-values:enableWA, rel:civil-ga-ccd-pr-1238

#1239 DTSCCI-613 Revert WA fix
  Jenkinsfile_CNP
  README.md
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.enableWA.preview.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
  charts/civil-ga-ccd/values.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1239

#1237 DTSCCI-583 - Updating Basildon Address
  e2e/pages/generalApplication/hearingNoticePages/hearingSchedule.page.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1237

#1242 DTSCCI-613 Enable WA step 1
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.enableWA.preview.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
  charts/civil-ga-ccd/values.yaml
Labels: ns:civil, prd:civil, pr-values:enableWA, enable_keep_helm, rel:civil-ga-ccd-pr-1242

#1236 CIV-14283 Add permissions for doc fields
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1236
