Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2024-10, with the labels that each got.

#1275 CIV-15062 - add roles update
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1275

#1285 DTSCCI-973 - Removing hardcoded years from tests
  e2e/api/dataHelper.js
  e2e/pages/generalApplication/hearingDetails.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseHearingDetails.page.js
  e2e/pages/generalApplication/urgencyCheck.page.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1285

#1287 CIV-000 DTSCCI-000 - Updating Nottingham Court spelling so that it reflects R…
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1287

#1276 CIV-15390 Add GA LIP fields
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-COSC-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-COSC-nonprod.json
  ga-ccd-definition/ComplexTypes/1_DebtPaymentEvidence-GA-CUI-COSC-nonprod.json
  ga-ccd-definition/ComplexTypes/CertOfCandS-GA-CUI-COSC-nonprod.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec-CUI-COSC-nonprod.json
  ga-ccd-definition/FixedLists/DebtPaymentOptions-GA-CUI-COSC-nonprod.json
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec-CUI-COSC-nonprod.json
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec-prod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1276

#1280 CIV-15290 CoSC - set CoSCApplicationStatus to Active on successful payment of application fee
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-COSC-nonprod.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-COSC-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-COSC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1280

#1297 CIV-15390 CCD changes
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/fixtures/featureKeys.js
  e2e/fixtures/ga-ccd/createGeneralApplicationLR.js
  e2e/pages/generalApplication/applicationType.page.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1297

#1306 CIV-0000 UI Skip tests master fix
  e2e/tests/ui_tests/cp_tests/1v1_CP_ApplicationOrders_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1306

#1308 CIV-00000 REVERT 2
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1308

#1310 CIV-0000 fixed ccd import aat
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1310

#1278 CIV-15151 added events for notifications for uploaded translated documents
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/NotificationEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1278

#1301 CIV-15108 New notification events
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/DashboardEventsGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseEvent/Camunda/NotificationEventsGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1301
