Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2025-07, with the labels that each got.

#1502 CIV-16914 added changes pause and delay notifications
  ga-ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ga-ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-Welsh-nonprod.json
  ga-ccd-definition/FixedLists/PreTranslationGaDocumentType-nonprod.json
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-ga-ccd-pr-1502

#1504 CIV-16923 pause directions order doc
  ga-ccd-definition/FixedLists/PreTranslationGaDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1504

#1507 CIV-16899 translation of general order
  ga-ccd-definition/FixedLists/PreTranslationGaDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1507

#1506 CIV-16897 Add new pre-translation doc type
  ga-ccd-definition/FixedLists/PreTranslationGaDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1506

#1509 CIV-16906 - Translation of GA hearing order document - pause and unpause
  ga-ccd-definition/FixedLists/PreTranslationGaDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1509
