Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2025-02, with the labels that each got.

#1394 DTSCCI-1105 patch camunda-bpm image
  charts/civil-ga-ccd/values.enableWA.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1394

#1349 DTSCCI-1105 fix payment issue
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec.json
  ga-ccd-definition/CaseTypeTab/ServiceRequestGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1349

#1399 CIV-16579 Add days/hours/mins field for judge hearing estimate
  ga-ccd-definition/AuthorisationComplexType/judgeProfileGAspec.json
  ga-ccd-definition/AuthorisationComplexType/legalAdviserGAspec.json
  ga-ccd-definition/AuthorisationComplexType/staff.json
  ga-ccd-definition/AuthorisationComplexType/systemUpdateGAspec.json
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
  ga-ccd-definition/ComplexTypes/GAJudgesHearingListGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1399

#1410 DTSCCI-1200 remove unused field
  charts/civil-ga-ccd/values.aat.template.yaml
  e2e/fixtures/ga-ccd/createGeneralApplication.js
  e2e/fixtures/ga-ccd/createGeneralApplicationLR.js
  e2e/fixtures/ga-ccd/respondentResponse.js
  e2e/pages/generalApplication/hearingDetails.page.js
  e2e/pages/generalApplication/responseJourneyPages/responseHearingDetails.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/cp_tests/1v1GeneralApplicationR2_test.js
  e2e/tests/ui_tests/cp_tests/1v1GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_different_solicitor_GA_spec_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/1v2_same_solicitor_GeneralApplication_test.js
  e2e/tests/ui_tests/multiparty-ga-tests/2v1GeneralApplication_test.js
  ga-ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ga-ccd-definition/ComplexTypes/GAHearingDetailsRespGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1410

#1403 CIV-16568 changes to statement of truth
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationComplexType/citizenGAspec-CUI-nonprod.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1403

#1407 CIV-16613 Added legal-advisor role to the free form order values
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ga-ccd-pr-1407

#1404 CIV-16576 - Optional field
  ga-ccd-definition/CaseEventToComplexTypes/JudicialDecisionGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1404

#1413 DTSCCI-1105 fix sol permission
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ga-ccd-pr-1413

#1418 DTSCCI-1105 fix citizen permission non-prod
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-nonprod.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1418

#1419 DTSCCI-1721 wa system user security classification to restricted
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1419
