Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2025-08, with the labels that each got.

#1519 CIV-2532 test: refactored the pipleines to the various other refactor…
  e2e/tests/api_spec_claim_test/api_spec_1v1_certificate_of_satisfaction_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_adjourn_vacate_ga_test.js
  e2e/tests/api_unspec_claim_tests/api_1v1_approve_consent_order_test.js
  e2e/tests/api_unspec_claim_tests/api_1v2_general_app_collections_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1519

#1521 CIV-16925 - Without notice to with notice application - Pause application
  ga-ccd-definition/FixedLists/TranslatedDocumentType-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1521

#1536 CIV-00000 run functional test
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1536

#1532 CIV-17623 - COSC Release
  ga-ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-COSC.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-COSC.json
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-COSC.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-COSC-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ga-ccd-definition/CaseField/CaseFieldGAspec-CUI-COSC.json
  ga-ccd-definition/ComplexTypes/1_DebtPaymentEvidence.json
  ga-ccd-definition/ComplexTypes/CertOfCandS.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec-CUI-COSC-nonprod.json
  ga-ccd-definition/ComplexTypes/GeneralApplicationGAspec-CUI.json
  ga-ccd-definition/FixedLists/DebtPaymentOptions.json
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec-prod.json
  ga-ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1532

#1524 CIV-17562 grant wlu access
  ga-ccd-definition/CaseTypeTab/Documents-CUI-Welsh-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1524
