Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2025-03, with the labels that each got.

#1422 DTSCCI-1691 bump deprecated chart and remove temp image url
  charts/civil-ga-ccd/Chart.yaml
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.enableWA.preview.template.yaml
  charts/civil-ga-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1422

#1427 DTSCCI-1074 Add new doc removal role
  bin/add-roles.sh
  e2e/tests/ui_tests/cp_tests/api_1v1_initiate_general_application_test.js
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ga-ccd-pr-1427

#1432 CIV-0000 skipping test
  e2e/tests/ui_tests/cp_tests/1v1GeneralApplication_test.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1432

#1436 DTSCCI-0000 - add role
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1436

#1437 CIV-1865 fix test
  e2e/tests/ui_tests/cp_tests/1v1GeneralApplication_test.js
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-ga-ccd-pr-1437

#1442 DTSCCI-1442 test fixed failing test by removing the extra parameter that was make
  e2e/steps_file.js
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-ga-ccd-pr-1442

#1443 DTSCCI-1891 upgrade wa chart
  charts/civil-ga-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1443
