Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2025-10, with the labels that each got.

#1566 Update CODEOWNERS
  .github/CODEOWNERS
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1566

#1571 Revert 1552 dtscci 938
  Jenkinsfile_nightly
  charts/civil-ga-ccd/values.aat.template.yaml
  charts/civil-ga-ccd/values.preview.template.yaml
  e2e/api/steps.js
  e2e/fixtures/events/claim/claimantResponseSpec.js
  e2e/fixtures/events/claim/claimantResponseSpec1v2.js
  e2e/fixtures/events/claim/claimantResponseSpec2v1.js
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec1v2.js
  e2e/fixtures/events/claimantResponseSpec2v1.js
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1571

#1572 DTSCCI-2879: move ga language preference event non-prod to prod
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-CUI.json
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec-WelshEnhancements-nonprod.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-CUI.json
  ga-ccd-definition/CaseEvent/User/UserEventsGAspec-WelshEnhancements-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1572
