Repository hmcts/civil-general-apps-ccd-definition, pull requests merged in 2025-09, with the labels that each got.

#1535 CIV-17603 Add Permission to PreTranslationGaType to citizen profile
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-Welsh-nonprod.json
  ga-ccd-definition/FixedLists/PreTranslationGaDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1535

#1544 DTSCCI-2699 adding event to re-trigger WA task on GA cases
  ga-ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ga-ccd-definition/CaseEvent/Camunda/CaseEvents.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1544

#1546 CIV-17704 wlu admin access
  ga-ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-CUI-Welsh-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ga-ccd-pr-1546

#1508 CIV-16903 Add new pre-translation document type
  ga-ccd-definition/FixedLists/PreTranslationGaDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ga-ccd-pr-1508

#1552 DTSCCI-938 Fix Functional Tests For CCD SRT
  Jenkinsfile_nightly
  e2e/api/steps.js
  e2e/fixtures/events/claim/claimantResponseSpec.js
  e2e/fixtures/events/claim/claimantResponseSpec1v2.js
  e2e/fixtures/events/claim/claimantResponseSpec2v1.js
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec1v2.js
  e2e/fixtures/events/claimantResponseSpec2v1.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ga-ccd-pr-1552
